npc-webservice-wsdl/src/main/resources/wsdl/npc-web-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 
	(trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 
	JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 
	(trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 
	JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. -->
<definitions name="NPCWebService"
	targetNamespace="http://npc.gizasystems.com/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://npc.gizasystems.com/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
	<types>
		<xs:schema targetNamespace="http://npc.gizasystems.com/"
			version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://npc.gizasystems.com/">
			<xs:element type="tns:processNPCMsg" name="processNPCMsg" />
			<xs:element type="tns:processNPCMsgResponse"
				name="processNPCMsgResponse" />
			<xs:complexType name="processNPCMsg">
				<xs:sequence>
					<xs:element type="xs:string" name="String_1"
						minOccurs="0" />
					<xs:element type="xs:base64Binary" name="arrayOfbyte_2"
						minOccurs="0" nillable="true" />
					<xs:element type="xs:string" name="String_3"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="processNPCMsgResponse">
				<xs:sequence>
					<xs:element type="xs:string" name="result" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="processNPCMsg">
		<part name="parameters" element="tns:processNPCMsg" />
	</message>
	<message name="processNPCMsgResponse">
		<part name="parameters" element="tns:processNPCMsgResponse" />
	</message>
	<portType name="NPCWebServiceInterface">
		<operation name="processNPCMsg">
			<input message="tns:processNPCMsg"
				wsam:Action="http://npc.gizasystems.com/NPCWebServiceInterface/processNPCMsgRequest" />
			<output message="tns:processNPCMsgResponse"
				wsam:Action="http://npc.gizasystems.com/NPCWebServiceInterface/processNPCMsgResponse" />
		</operation>
	</portType>
	<binding name="NPCWebServiceInterfacePortBinding"
		type="tns:NPCWebServiceInterface">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="processNPCMsg">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="NPCWebService">
		<port name="NPCWebServiceInterfacePort"
			binding="tns:NPCWebServiceInterfacePortBinding">
			<soap:address
				location="https://localhost:443/NPC-SOAP/NPCWebService" />
		</port>
	</service>
</definitions>